$primaryColor: hsl(322, 100%, 66%);
$primaryColorHover: hsl(322, 100%, 45%);
$darkCyan: hsl(192, 100%, 9%);
$paleBlue: hsl(207, 100%, 98%);
$white: #fff;

$gutter: 50px;

//Breakpoints
$bp-xxs: '375px';
$bp-xs: '480px';
$bp-s: '640px';
$bp-m: '860px';
$bp-l: '980px';
$bp-xl: '1200px';
$bp-xxl: '1200px';