*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 65.5%; }

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif; }

img {
  max-width: 100%; }

.u-primary {
  color: #ff52bf; }

.u-white {
  color: white; }

.u-dark-cyan {
  color: #00252e; }

.u-text-center {
  text-align: center; }

.site-header__nav {
  margin: 25px;
  display: flex;
  justify-content: space-between; }
  .site-header__nav-logo {
    width: 120px;
    height: 19.5px; }
  .site-header__nav-button {
    background-color: white;
    border: 1px solid #ff52bf;
    border-radius: 24px;
    color: #ff52bf;
    font-size: 1.1rem;
    padding: 6px 21px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(255, 81, 191, 0.6);
    transition: .3s; }
    .site-header__nav-button:hover {
      color: white;
      background-color: #ff52bf; }

.site-header__intro {
  margin: 100px 50px; }
  .site-header__intro-head-text {
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem; }
  .site-header__intro-text {
    font-size: 1.6rem; }
  .site-header__intro-button {
    display: block;
    margin: 50px auto 0;
    background-color: #ff52bf;
    border: none;
    border-radius: 24px;
    color: #f5faff;
    padding: 14px 40px;
    font-size: 1.15rem;
    font-weight: 700;
    letter-spacing: .8px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
    transition: box-shadow .3s; }
    .site-header__intro-button:hover {
      box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.6); }
