.site-header {
    &__nav {
        margin: $gutter/2;
        display: flex;
        justify-content: space-between;

        &-logo {
            width: 120px;
            height: 19.5px;
        }

        &-button {
            background-color: white;
            border: 1px solid $primaryColor;
            border-radius: 24px;
            color: $primaryColor;
            font-size: 1.1rem;
            padding: 6px 21px;
            cursor: pointer;
            box-shadow: 0px 0px 5px 0px rgba(255, 81, 191, 0.6);
            transition: .3s;

            &:hover {
                color: white;
                background-color: $primaryColor;
            }
        }
    }

    &__intro {
        margin: $gutter*2 $gutter;

        &-head-text {
            font-family: 'Poppins', sans-serif;
            font-size: 2.4rem;
        }

        &-text {
            font-size: 1.6rem;
        }

        &-button {
            display: block;
            margin: $gutter auto 0;
            background-color: $primaryColor;
            border: none;
            border-radius: 24px;
            color: $paleBlue;
            padding: 14px 40px;
            font-size: 1.15rem;
            font-weight: 700;
            letter-spacing: .8px;
            cursor: pointer;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
            transition: box-shadow .3s;

            &:hover {
                box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.6);
            }
        }
    }
}